@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.container{
    display: flex;
    height: 100%;
    position: fixed;
}
.nav__menu{
    background-color: #191718;
    width: 10%;
}
.ulll li{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    padding: 14px 0 11px 16px;
    line-height: 19px;
    color: #AAAAAA;
    border-bottom: 1px solid;
}

.ulll li:hover{
    background-color: #5C5C5C;
    cursor: pointer;
    color: #ffffff;
}
.content{
    width: 90%;
    overflow-y: auto;
}
.pd20{
    padding: 20px 8% 8% 8%;

}
.logo,.conten1{
    text-align: center;
}
.logo{
    margin-bottom: 30px;
}
.conten1{
    background-color: #EFEFEF;
}
.conten1 h4{
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 21px;
/* identical to box height */


color: #000000;
padding: 36px 0 18px 0;
}
.conten1 p{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
display: flex;
align-items: center;
text-align: center;
width: 60%;
margin: 0 auto;
color: #000000;
padding: 0 0 38px 0;
}
.conten2{
    display: flex;
    gap: 50px;
    padding: 40px 0 0 0;
}
.item h1{
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 28px;

color: #000000;
}
.item p{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

color: #000000;
}
.item div{
    display: flex;
    gap: 16px;
}
.footer p{
    padding: 29px 0 30px 0;
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
/* identical to box height */


color: #3E3E3E;

}
.footer{
    bottom: 0;
    position: absolute;
    padding: 0 0 0 8%;
    border-top: 1px solid;
    width: 100%;
    background-color: white;
}
.mobi{
    display: none;
}
@media screen and (max-width:1200px) {
    .conten2 {
        display: grid;
        gap: 50px;
        padding: 40px 0 0 0;
    }
    .pd20 {
        padding: 20px 8% 15% 8%;
    }
}
@media screen and (max-width:900px) {
    .container{
        display: grid;
    }
    .ulll{
        display: flex;
    }
    .content,.nav__menu{width: 100%;}
    .ulll li{
        padding: 14px 16px 11px 16px;
    }
    
}
@media screen and (max-width:400px) {
    .mobi{
        display: block;
        color: white;
    font-size: 72px;
    text-align: right;
    margin-right: 3%;
    }
    .ulll {display: none;}
    .ulll.show{
        display: grid;
    }
    .mobi.none,.mobis{
        display: none;
    }
    .mobis.active{
        display: block;
        color: white;
    font-size: 72px;
    text-align: right;
    margin-right: 3%;
    }
    
}